@import "variables";
@import "header";
@import "main";
@import "side_column";
@import "spinner";
@import "mobile_adaptation";

/*Tablet adaptation*/
@media screen and (min-device-width: 501px) and (max-device-width: 1000px){
  .container{
    width: 100%;
    padding: 0;
  }

  .header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .header__logo {
    font-size: 3.1em;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }


  .header__navigation{
    border-bottom: 4px solid @sky;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    line-height: 50px;
  }

  .header__navigation__button{

    &--question-tablet{
      display: block;
      background-color: @heavy-blue;
      color: @dark-blue;
      width: 45px;
      height: 48px;
      font-size: 1.7em;
      align-items: center;
      text-align: center;
    }

    &--question-tablet::before{
      content: '?';
    }

    &--exclamation-tablet{
      display: block;
      background-color: @heavy-blue;
      color: @dark-blue;
      margin-left: auto;
      width: 45px;
      height: 48px;
      font-size: 1.7em;
      align-items: center;
      text-align: center;
    }

    &--exclamation-tablet::before{
      content: '!';
    }
  }

  .menu-item{
    font-size: 1.4em;
    padding:  0 50px 0 0;
    font-weight: 100;
  }

  #quest-button:checked ~ .sidebar-hint__description--mobile-quest{
    display: block;
  }

  #quest-button:not(:checked) ~ .sidebar-hint__description--mobile-quest{
    display: none;

  }

  #exclam-button{display: none;}

  /*Sidebar content*/
  .sidebar-hint__description--tablet-about{
       transform: rotate(-90deg);
       background-color: @sky-blue-mobile-menu;
  }

  .sidebar{
    display: none;
    /****/
  }
}


/*END Tablet adaptation*/

