/*Main text*/
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4SppsHecKHw584ktcwPXSnc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4Uvi3q9-zTdQoLrequQTguk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4T3sPXe5Q4a3bCZMR7ryN4o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/********/
/*Text for headers*/
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body,
p,
div,
li,
figure,
figcaption {
  font-family: 'PT Sans Narrow';
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans';
}
.container {
  width: 61.250em;
  padding-right: 1.875em;
  padding-left: 1.875em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75%;
}
.blog-article {
  position: relative;
  padding: 0 3.125em 0 2.813em;
  margin-bottom: 3.125em;
}
.blog-article__image-block {
  position: relative;
}
.blog-article__image-block__picture {
  width: 100%;
}
.blog-article__image-block__caption {
  color: #69747c;
  font-size: 1.67em;
  margin-bottom: 1.250em;
}
.blog-article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0.625em 0 0.625em 0;
  border-bottom: 2px solid #d1dae3;
  border-top: 2px solid #d1dae3;
  margin-bottom: 0.625em;
}
.blog-article-info__time,
.blog-article-info__author {
  margin: 0 1.563em 0 0;
  text-transform: none;
  color: #69747c;
  font-style: normal;
}
.blog-article-info__time span,
.blog-article-info__author span {
  padding-right: 0.625em;
}
.clock__author {
  fill: #69747c;
}
.clock__author--time {
  width: 0.875em;
  height: 0.875em;
}
.clock__author--footstep {
  width: 0.938em;
  height: 0.938em;
}
.social {
  margin-left: auto;
}
.social__group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__group__item {
  display: inline-block;
  width: 3.125em;
  height: 1.563em;
  line-height: 1.563em;
  text-align: center;
  background-color: #d1dae3;
  color: #fefefe;
  font-size: 0.9em;
  font-weight: 800;
  border-radius: 3px;
}
.social__group__item__icon {
  fill: #fefefe;
  width: 1.250em;
  height: 1.250em;
  float: left;
  margin: 2px 0 0 0;
}
.social__group__item:hover {
  background-color: #fefefe;
  color: #d1dae3;
}
.social__group__item:hover .social__group__item__icon {
  fill: #d1dae3;
}
.block-article__note {
  color: #69747c;
  text-align: justify;
  word-wrap: break-word;
}
