/*Main text*/
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4SppsHecKHw584ktcwPXSnc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4Uvi3q9-zTdQoLrequQTguk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4T3sPXe5Q4a3bCZMR7ryN4o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/********/
/*Text for headers*/
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body,
p,
div,
li,
figure,
figcaption {
  font-family: 'PT Sans Narrow';
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans';
}
/*Mobile adaptation*/
@media screen and (min-device-width: 300px) and (max-device-width: 600px) {
  .header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .header__logo {
    font-size: 1.7em;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }
  .header__logo--on-scroll {
    font-size: 1.1em;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: auto;
    color: #9cbce1;
    letter-spacing: 3px;
  }
  .header__logo__icon {
    display: none;
  }
  .header__logo__icon_mobile {
    display: inline-block;
    fill: #6b9ad0;
    width: 32px;
    height: 32px;
    margin-bottom: -8px;
  }
  .header__logo__icon_mobile--on-scroll {
    display: inline-block;
    fill: #9cbce1;
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
  }
  .header__navigation {
    border-bottom: none ;
    display: flex;
    flex-direction: row;
    background-color: #6b9ad0;
    height: 30px;
    margin-bottom: 20px;
    align-items: center;
  }
  .header__navigation__button {
    display: block;
    border: none;
    width: 30px;
    text-align: center;
    line-height: normal;
    background-color: #6b9ad0;
    font-size: 1.2em;
  }
  .header__navigation__button--menu {
    margin-left: auto;
    margin-right: 10px;
  }
  .header__navigation__button--menu::before {
    position: absolute;
    top: 20%;
    right: 10px;
    content: url(../img/SVG/menu.svg);
  }
  .header__navigation__button--question {
    background-color: #7ca7d9;
    color: #608dc1;
    margin: 2px;
  }
  .header__navigation__button--question::before {
    content: '?';
  }
  .header__navigation__button--exclamation {
    background-color: #7ca7d9;
    color: #608dc1;
    margin: 2px 0 2px 0;
  }
  .header__navigation__button--exclamation::before {
    content: '!';
  }
  .header__navigation__button--tag {
    background-color: #7ca7d9;
    margin: 2px;
  }
  .header__navigation__button--tag::before {
    content: url(../img/SVG/tag.svg);
  }
  .header__navigation:after,
  .header__navigation:before {
    top: 0;
    left: 0;
    border: none;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .header__navigation:after {
    border-top-color: #6b9ad0;
    border-width: 0;
    margin-left: 0;
  }
  .header__navigation:before {
    border-top-color: #c6defa;
    border-width: 0;
    margin-left: 0;
  }
  .sidebar-hint__header {
    border: none;
  }
  .header__navigation__menu--mobile {
    padding: 0;
    margin-top: -20px;
    background-color: #e1eefc;
  }
  .header__navigation__menu--mobile::after {
    position: absolute;
    top: 90px;
    right: 13px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  .header__navigation__menu--mobile-on-scroll {
    padding: 0;
    position: fixed;
    margin: 0;
    z-index: 3;
    top: 30px;
    width: 100%;
    background-color: #e1eefc;
  }
  .header__navigation__menu--mobile-on-scroll::after {
    position: absolute;
    top: 0;
    right: 13px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  .header__navigation__menu {
    display: none;
  }
  .header__navigation__button--question-tablet {
    display: none;
  }
  .header__navigation__button--exclamation-tablet {
    display: none;
  }
  #menu-button:checked ~ .header__navigation__menu--mobile {
    display: block;
    animation: slideDownMenu 0.5s 1 linear;
  }
  #menu-button:not(:checked) ~ .header__navigation__menu--mobile {
    display: none;
  }
  #menu-button:checked ~ .header__navigation__menu--mobile-on-scroll {
    display: block;
    animation: slideDownMenu 0.5s 1 linear;
  }
  #menu-button:not(:checked) ~ .header__navigation__menu--mobile-on-scroll {
    display: none;
  }
  .menu-item {
    padding: 5px 0;
    margin: 0;
    display: block;
    color: #6b9ad0;
    border-bottom: 2px solid #fefefe;
  }
  .sidebar {
    display: none;
    width: 0;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .blog {
    width: 100%;
    align-items: center;
  }
  /*Main styles*/
  .blog-article-info {
    width: 100%;
    border-top: none;
    padding: 10px 0 10px 0;
    justify-content: center;
  }
  .blog-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    width: 90%;
  }
  .blog-article__image-block {
    background-color: #f4f5f6;
  }
  .blog-article__image-block__picture {
    width: 100%;
  }
  .social {
    display: none;
    margin-left: 0;
  }
  .social--mobile {
    display: inline-block;
    margin: 1.2em 0 0 0;
    width: 100%;
  }
  .social__group {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .social__group__item {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 10px solid #fefefe;
    border-right: 10px solid #fefefe;
    border-radius: 20px;
    width: 20%;
    box-sizing: border-box;
  }
  .social__group__item--facebook {
    background-color: #3c5a98;
  }
  .social__group__item--g-plus {
    background-color: #c25234;
  }
  .social__group__item--twitter {
    background-color: #00aced;
  }
  .social__group__item--vk {
    background-color: #48729e;
  }
  .social__group__item--ya {
    background-color: #d83933;
  }
  /*******/
  /*Sidebar styles*/
  .sidebar-hint__description {
    margin: -20px 0 20px 0;
    padding: 15px;
  }
  .sidebar-hint__description--mobile-quest,
  .sidebar-hint__description--mobile-exclam {
    background-color: #e1eefc;
  }
  .sidebar-hint__description--mobile-quest::after,
  .sidebar-hint__description.sidebar-hint__description--mobile-quest::before,
  .sidebar-hint__description--mobile-exclam::after,
  .sidebar-hint__description--mobile-exclam::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  .sidebar-hint__description--mobile-quest::after {
    top: 87px;
    left: 5px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #7ca7d9;
  }
  .sidebar-hint__description--mobile-quest::before {
    top: 90px;
    left: 4.5px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  .sidebar-hint__description--mobile-exclam::after {
    top: 87px;
    left: 38px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #7ca7d9;
  }
  .sidebar-hint__description--mobile-exclam::before {
    top: 90px;
    left: 37.5px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  .sidebar-hint__description--mobile-quest-onscroll,
  .sidebar-hint__description--mobile-exclam-onscroll {
    position: fixed;
    z-index: 3;
    margin: 0;
    top: 30px;
    background-color: #e1eefc;
  }
  .sidebar-hint__description--mobile-quest-onscroll::after,
  .sidebar-hint__description.sidebar-hint__description--mobile-quest-onscroll::before,
  .sidebar-hint__description--mobile-exclam-onscroll::after,
  .sidebar-hint__description--mobile-exclam-onscroll::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  .sidebar-hint__description--mobile-quest-onscroll::after {
    top: -3px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #7ca7d9;
  }
  .sidebar-hint__description--mobile-quest-onscroll::before {
    top: 0;
    left: 4.5px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  .sidebar-hint__description--mobile-exclam-onscroll::after {
    top: -3px;
    left: 38px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #7ca7d9;
  }
  .sidebar-hint__description--mobile-exclam-onscroll::before {
    top: 0;
    left: 37.5px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  #quest-button:checked ~ .sidebar-hint__description--mobile-quest {
    display: block;
    animation: slideDownOther 0.5s 1;
  }
  #quest-button:not(:checked) ~ .sidebar-hint__description--mobile-quest {
    display: none;
  }
  #exclam-button:checked ~ .sidebar-hint__description--mobile-exclam {
    display: block;
    animation: slideDownOther 0.5s 1;
  }
  #exclam-button:not(:checked) ~ .sidebar-hint__description--mobile-exclam {
    display: none;
  }
  #quest-button:checked ~ .sidebar-hint__description--mobile-quest-onscroll {
    display: block;
    animation: slideDownOther 0.5s 1;
  }
  #quest-button:not(:checked) ~ .sidebar-hint__description--mobile-quest-onscroll {
    display: none;
  }
  #exclam-button:checked ~ .sidebar-hint__description--mobile-exclam-onscroll {
    display: block;
    animation: slideDownOther 0.5s 1;
  }
  #exclam-button:not(:checked) ~ .sidebar-hint__description--mobile-exclam-onscroll {
    display: none;
  }
  .sidebar__hot-hashtags {
    margin: -20px 0 20px 0;
    padding: 20px;
  }
  .sidebar__hot-hashtags--mobile {
    background-color: #e1eefc;
  }
  .sidebar__hot-hashtags--mobile::after,
  .sidebar__hot-hashtags--mobile::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
  }
  .sidebar__hot-hashtags--mobile::after {
    top: 87px;
    left: 70px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #7ca7d9;
  }
  .sidebar__hot-hashtags--mobile::before {
    top: 90px;
    left: 69.5px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  .sidebar__hot-hashtags--mobile-on-scroll {
    position: fixed;
    z-index: 3;
    top: 50px;
    background-color: #e1eefc;
  }
  .sidebar__hot-hashtags--mobile-on-scroll::after,
  .sidebar__hot-hashtags--mobile-on-scroll::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
  }
  .sidebar__hot-hashtags--mobile-on-scroll::after {
    top: -3px;
    left: 69px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #7ca7d9;
  }
  .sidebar__hot-hashtags--mobile-on-scroll::before {
    top: 0;
    left: 68.5px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #6b9ad0;
  }
  #tag-button:checked ~ .sidebar__hot-hashtags--mobile-on-scroll {
    display: block;
    animation: slideDownOther 0.5s 1 linear;
  }
  #tag-button:not(:checked) ~ .sidebar__hot-hashtags--mobile-on-scroll {
    display: none;
  }
  #tag-button:checked ~ .sidebar__hot-hashtags--mobile {
    display: block;
    animation: slideDownOther 0.5s 1 linear;
  }
  #tag-button:not(:checked) ~ .sidebar__hot-hashtags--mobile {
    display: none;
  }
  /*Sliding down animations*/
  @keyframes slideDownMenu {
    0% {
      height: 0;
    }
    100% {
      height: 195px;
    }
  }
  @keyframes slideDownOther {
    0% {
      height: 0;
    }
    100% {
      height: 100px;
    }
  }
  /*Navigation bar slide-down*/
  @keyframes navSlide {
    0% {
      top: -40px;
    }
    100% {
      top: 0;
    }
  }
  /******/
}
/*End Mobile adaptation*/
