/*Main text*/
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4SppsHecKHw584ktcwPXSnc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4Uvi3q9-zTdQoLrequQTguk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4T3sPXe5Q4a3bCZMR7ryN4o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/********/
/*Text for headers*/
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
body,
p,
div,
li,
figure,
figcaption {
  font-family: 'PT Sans Narrow';
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans';
}
.header-link {
  text-decoration: none;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}
.header {
  display: flex;
  flex-direction: column;
}
.header-logo {
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  font-size: 3em;
  color: #6b9ad0;
  text-align: center;
  letter-spacing: 5px;
  padding: 20px 0;
  font-weight: bolder;
}
.header-logo__icon {
  margin-bottom: -15px;
  fill: #6b9ad0;
  width: 60px;
  height: 60px;
}
.navigation-bar {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  float: left;
  background-color: #6b9ad0;
  border-bottom: 4px solid #c6defa;
  margin-bottom: 3.125em;
}
.navigation-menu {
  list-style: none;
  text-align: center;
}
.navigation-menu__link {
  text-decoration: none;
  color: #fefefe;
}
.navigation-menu__link:active {
  border-bottom: 3px solid #fefefe;
}
.navigation-menu__item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0 60px 0 0;
}
.navigation-menu__link:hover {
  color: #d1dae3;
}
.navigation-bar:after,
.navigation-bar:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.navigation-bar:after {
  border-top-color: #6b9ad0;
  border-width: 12px;
  margin-left: -12px;
}
.navigation-bar:before {
  border-top-color: #c6defa;
  border-width: 16px;
  margin-left: -16px;
}
.container {
  width: 61.250em;
  padding-right: 1.875em;
  padding-left: 1.875em;
  margin: auto;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.blog {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.blog-article {
  position: relative;
  padding-right: 40px;
  margin-bottom: 3.125em;
}
.image-block {
  position: relative;
}
.image-block__picture {
  max-width: 100%;
}
.blog-article__description {
  font-size: 1.67em;
  margin: 10px 0;
}
.blog-article__description-link {
  text-decoration: none;
  color: #69747c;
}
.blog-article__description-link:hover {
  color: #d1dae3;
}
.blog-article__info {
  display: flex;
  flex-direction: row;
  padding: 0.625em 0 0.625em 0;
  border-bottom: 2px solid #d1dae3;
  border-top: 2px solid #d1dae3;
  margin-bottom: 0.625em;
}
.blog-article__date,
.blog-article__author {
  display: flex;
  flex-direction: row;
  width: 25%;
  margin: 0 1.2em 0 0;
  text-transform: none;
  color: #69747c;
  font-style: normal;
}
.blog-article__date-icon {
  fill: #69747c;
  width: 0.875em;
  height: 0.875em;
}
.blog-article__author-icon {
  fill: #69747c;
  width: 0.938em;
  height: 0.938em;
}
.social {
  margin-left: auto;
}
.social__group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__group-item {
  display: inline-block;
  width: 3.125em;
  height: 1.563em;
  line-height: 1.563em;
  text-align: center;
  background-color: #d1dae3;
  color: #fefefe;
  font-size: 0.9em;
  font-weight: 800;
  border-radius: 3px;
}
.social__group-item-link {
  text-decoration: none;
  color: #fefefe;
  font-size: 1.1em;
}
.social__group-item-icon {
  fill: #fefefe;
  width: 1.250em;
  height: 1.250em;
  float: left;
  margin: 2px 0 0 0;
}
.social__group-item:hover {
  background-color: #fefefe;
  color: #d1dae3;
}
.social__group-item:hover .social__group-item-icon {
  fill: #d1dae3;
}
.social__group-item:hover .social__group-item-link {
  color: #d1dae3;
}
.blog-article__note {
  color: #69747c;
  text-align: justify;
  word-wrap: break-word;
}
.create-and-search {
  display: flex;
  flex-direction: row;
  width: 94%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.sidebar-hint {
  margin-bottom: 1.875em;
}
.sidebar-hint__header {
  color: #6b9ad0;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 4px solid #6b9ad0;
  margin: 0;
  padding: 0;
}
.sidebar-hint__header--question::before {
  content: '?';
  margin-right: 15px;
}
.sidebar-hint__header--exclamation::before {
  content: '!';
  margin-right: 15px;
}
.sidebar-hint__header::before {
  color: #fefefe;
  text-align: center;
  padding: 0.156em 0.625em 0.156em 0.625em;
  background-color: #6b9ad0;
}
.sidebar-hint__description {
  font-size: 1em;
  word-wrap: break-word;
  text-align: justify;
  color: #69747c;
}
.hot-hashtags {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 8px 0 0 0;
}
.hot-hashtags__item {
  display: inline-block;
  height: 1.250em;
  line-height: 1.250em;
  position: relative;
  font-size: 1em;
  margin-right: 0.7em;
  padding: 0 1.1em 0 0.825em;
  background: #6b9ad0;
  color: #fefefe;
  text-decoration: none;
  margin-bottom: 0.625em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hot-hashtags__item:after {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  right: -0.625em;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #6b9ad0;
  border-style: solid;
  border-width: 0.625em 0 0.625em 0.625em;
}
.hot-hashtags__item:before {
  content: "\2022";
  position: absolute;
  color: #fefefe;
  font-size: 1.5em;
  right: -2px;
  z-index: 2;
}
.hot-hashtags__item:hover {
  transform: rotate(25deg);
}
.hot__hashtags-item__link {
  text-decoration: none;
  color: #fefefe;
}
.spinner-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.spinner-block__spinner {
  width: 50px;
  height: 50px;
  animation: spinnerRotate 0.5s infinite linear;
}
@keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.edit-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin: -20px 0 50px 0;
}
.edit-article__header {
  text-align: center;
  color: #69747c;
}
.edit-article__alert-window {
  width: 20%;
  margin-top: -10px;
  padding: 10px 0;
  text-align: center;
  color: #fefefe;
  background-color: #6b9ad0;
  border-radius: 10px;
  animation: animateAlert 0.3s 1 linear;
}
.edit-article__alert-window--error {
  background-color: #d9534f;
}
@keyframes animateAlert {
  0% {
    padding: 0;
  }
  100% {
    padding: 10px 0;
  }
}
.form-block {
  width: 50%;
  margin: auto;
  color: #69747c;
}
.form-block__label {
  text-transform: uppercase;
}
.btn-submit {
  float: right;
  background-color: #6b9ad0;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-right: 10px;
}
.btn-submit--create-article {
  width: 100px;
  text-decoration: none;
  margin-bottom: 20px;
}
.btn-cancel {
  text-decoration: none;
  float: right;
  text-transform: uppercase;
  font-size: 0.8em;
}
.btn-delete {
  text-decoration: none;
  float: right;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-right: 10px;
}
.create-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.start-blog {
  display: flex;
  flex-direction: row;
  width: 100%;
}
