
<div class="form-block">

  <h2 class="edit-article__header" ng-show="$ctrl.isNewPost()">{{$ctrl.article.header}}</h2>
  <h2 class="edit-article__header" ng-show="!$ctrl.isNewPost()">Create an Article</h2>
  <h3 class="edit-article__alert-window" ng-show="$ctrl.showAlert" ng-class="{'edit-article__alert-window': !$ctrl.isError, 'edit-article__alert-window--error': $ctrl.isError}">{{$ctrl.alert}}</h3>

 <form role="form" class="form" nd-model="$ctrl.formData.id = {{$ctrl.article.id}}" name="forms">

     <div class="form-group">
         <label for="author" class="form__label">Author</label>
         <input type="text" id="author"  class="form-control" placeholder="Enter an author name" required  ng-model="$ctrl.article.author">
     </div>
     <div class="form-group">
         <label for="image_upd" class="form__label">Image</label>
         <input type="text"  id="image_upd" class="form-control" placeholder="URL of an image" ng-model="$ctrl.article.image">
     </div>
     <div class="form-group">
         <label for="title" class="form__label">Title</label>
         <input type="text" id="title"  class="form-control" placeholder="Enter a header of an Article" required ng-model="$ctrl.article.header">
     </div>
     <div class="form-group">
         <label for="text" class="form__label">Text</label>
         <textarea class="form-control" id="text" rows="5"   required ng-model="$ctrl.article.text" placeholder="Text..."></textarea>
     </div>
     <div class="form-group">
         <label for="tags" class="form__label">Tags</label>
         <input type="text" id="tags"  class="form-control" placeholder="Enter tags separated by commas" ng-model="$ctrl.article.tags">
     </div>
     <a href="/" class="btn btn-warning btn-cancel" role="link">cancel</a>
     <input type="reset"  class="btn btn-danger btn-delete"  ng-click = '$ctrl.openModal()' value="delete" ng-show="$ctrl.isNewPost()">
     <input type="submit" class="btn btn-info btn-submit" value="save" ng-click="$ctrl.submit($ctrl.article)" ng-disabled="forms.$invalid" >
     <!--<input type="submit" class="btn btn-info btn-submit" value="save" ng-click="$ctrl.createArticleBtn()" ng-disabled="formCreate.$invalid" ng-show="$ctrl.isNewPost()">-->
 </form>

</div>
