@import "fonts";
@import "variables";

.edit-article{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.edit-article__header{
  text-align: center;
  color: @main-text-color;
}

.edit-article__form{
  width: 50%;
  margin: auto;
  color: @main-text-color;
}

