
    <h2 class="edit-article__header">Create an Article</h2>
    <h3 class="edit-article__alert-window" ng-show="$ctrl.show" ng-class="alertClass">{{$ctrl.alert}}</h3>
    <form role="form" class="form-block" name="formCreate">
        <div class="form-group">
            <label for="author" class="form-block__label">Author</label>
            <input type="text" id="author" class="form-control" placeholder="Enter your name" required ng-model="$ctrl.createData.author">
        </div>
        <div class="form-group">
            <label for="image_upd" class="form-block__label">Image</label>
            <input type="text" id="image_upd" class="form-control" placeholder="URL of an image" ng-model="$ctrl.createData.image">
        </div>
        <div class="form-group">
            <label for="title" class="form-block__label">Title</label>
            <input type="text" id="title" class="form-control" placeholder="Change title" required ng-model="$ctrl.createData.header">
        </div>
        <div class="form-group">
            <label for="text" class="form-block__label">Text</label>
            <textarea class="form-control" rows="5" id="text" maxlength="100" required ng-model="$ctrl.createData.text"></textarea>
        </div>
        <div class="form-group">
            <label for="tags" class="form-block__label">Tags</label>
            <input type="text" id="tags" class="form-control" placeholder="Enter tags" ng-model="$ctrl.createData.tags">
        </div>
        <a href="#/" class="btn btn-danger btn-cancel" role="link">cancel</a>
        <input type="submit" class="btn btn-info btn-submit" value="save" ng-click="$ctrl.createArticleBtn()" ng-disabled="formCreate.$invalid">
    </form>
